<nav class="navbar">
  
  <ul>
    <a routerLink="/games" class="brand">GuildOps</a>
    <li><a routerLink="/games" routerLinkActive="active">Jeux</a></li>
    @if (auth.isLoggedIn()) {
      <li><a routerLink="/dashboard">Dashboard</a></li>
    }
  </ul>

  <ul>
    <!-- Menu en fonction de si on est connecté ou non -->
    @if (auth.isLoggedIn()) {
      <li><a (click)="logout()">Se déconnecter</a></li>
    } @else {
      <li><a routerLink="/login">Se connecter</a></li>
      <li><a routerLink="/register">S'inscrire</a></li>
    }
  </ul>
</nav>
