<a routerLink="/games">Retourner à la liste des jeux</a>

@if (loading()) {
  <p>Chargement...</p>
} @else if (error()) {
  <p class="error">Erreur: {{ error() }}</p>
} @else if (game(); as detail) {

  <h1>{{ detail.name }}</h1>
  <p>Niveau maximum: {{ detail.maxLevel }}</p>

  <hr>

  <!-- div.columns>section*2 -->
  <div class="columns">
    <section>
      <h2>Classes</h2>

      <ul>
        @for (characterClass of detail.classes; track $index) {
          <li>{{ characterClass.name }}</li>
        }
      </ul>
    </section>
    <section>
      <h2>Rôles:</h2>

      <ul>
        @for (gameRole of detail.roles; track $index) {
          <li>{{ gameRole.name }}</li>
        }
      </ul>
    </section>
  </div>

}